/* Style the header */
header {
	background-color: #20c997;
	color: white;
	text-align: center;
	padding: 20px;
}

/* Style the logo */
.header_text {
	font-weight: bold;
	 font-style: italic;
	color: white;
}
/* Style the Nav links*/
.mynav-link{
 font-weight: bold;
 color: white;
}
/* About box description*/
.description {
	padding: 20px;
	background-color: #ffffff;
	border-radius: 10px;
	margin-top: 20px;
	border: 5px dotted lightgreen; 
