{% load static %}
{% load plotly_dash%}
{% plotly_header%}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE HTML>
<html  lang="en">

 <head>
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta name="description" content="Django Plotly Dash App">
	 <meta name="author" content="Forwah Amstrong Tah, Ph.D">
	 <link href="{% static 'css/base.css' %}" rel="stylesheet">
	 <title>{% block title%} Django Plotly Dash{% endblock%}</title>
 </head>
 <body>
    <header>
		<h1>Dv-Lottery statistics</h1>
        <h6 class="header_text">A Dash and Plotly app embedded in Django</h6>
        <nav>
            <a href="{% url 'home' %}" class="mynav-link">Home</a>
			<a href="{% url 'about' %}" class="mynav-link">Contact</a>
        </nav>
    </header>
   <main>
     {% block main_top%}{% endblock%}
     <div class="container">
       {% block content%}{% endblock%}
     </div>
   </main>
   {% block footer%}
   {% endblock%}
 </body>
 {% plotly_footer%}
</html>